<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vinacredit.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash.Splash_Activity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add another activity -->
        <activity 
            android:name=".Welcome.Welcome_Activity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".SignIn.SignIn_Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SignIn.WrongPass.WrongPass_Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".InformationAccount.InformationAccount_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity 
            android:name=".Account.Account_Activity" 
            android:screenOrientation="portrait">
            
        </activity>
        <activity 
            android:name=".Account.SaleHistory.SaleHistory_Activity" 
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name=".Account.SaleHistory.DetailSale.DetailSale_Activity" 
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name=".Account.Tax.Tax_Activity" 
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name=".Account.Support.Support_Activity" 
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name=".Sale.Sale_Activity" 
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity 
            android:name=".Sale.Charge.Charge_Activity" 
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden">
        </activity>
        <activity 
            android:name=".Sale.Identify.Identify_Activity" 
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name=".Sale.Signature.Signature_Activity" >
        </activity>
        <activity 
            android:name=".Sale.Sending.Sending_Activity" 
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name=".Sale.Receipt.Receipt_Activity"
            android:screenOrientation="portrait" >
        </activity>
        <activity 
            android:name=".Done.Done_Activity" 
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>